<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>Index</title>
</head>

<body>
	<h2>Accueil DevOps-Java</h2>
	<div>
		<form th:action="@{/returnName}" th:object="${person}" method="POST">
			Name : <input type="text" th:field="*{name}" /> <br /> <br /> 
			<input	type="submit" value="Send and Submit" />
		</form>
	</div>
	
	<div>
		<p>Bonjour <span th:text="${person.name}" th:style="${person}?'display:inline':'display:none'"> </span> vous êtes bien matinal</p>
	</div>
	
</body>

</html>